* {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  color: rgb(61, 66, 70);
  color: black;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Home */

#home-component {
  height: 100%;
  background-color: rgb(56, 68, 76);
}

#home-container {
  height: 100%;
}

#home-page-text {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-page-title {
  font-size: 36px;
  margin-bottom: 15px;
  color: white;
}

#home-page-paragraph {
  color: white;
}

.p5Canvas {
  height: 100%;
}

/* Navbar */

.navbar-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(132, 132, 132, 0.2);
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 1010px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-left: 25px;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.navbar-text {
  text-decoration: none;
}

#navbar-title {
  font-weight: 500;
  font-size: 26px;
  opacity: 0.8;
}

.hidden {
  visibility: hidden;
}

/* Footer */

.footer-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(132, 132, 132, 0.2);
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1010px;
  height: 85px;
}

.footer-left {
  display: flex;
  align-items: center;
}

#instagram-logo {
  height: 20px;
  opacity: 0.8;
}

.footer-copyright {
  font-size: 15px;
  margin-left: 5px;
  font-size: 15px;
}

#instagram-hyperlink {
  display: flex;
  align-items: center;
}

.icon__fallback-text {
  visibility: hidden;
  font-size: 1px;
}

/* Artworks */

#artworks-component {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#artworks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 1010px;
}

.artwork-title {
  margin-bottom: 70px;
  text-align: center;
}

.artwork:hover {
  opacity: 0.9;
}

.artwork-link {
  text-decoration: none;
}

/* Artwork */

#artwork-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  margin-top: 100px;
}

#artwork-container {
  display: flex;
  width: 1010px;
  margin-bottom: 100px;
}

.artwork-image {
  height: 310px;
  box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.artwork-page-image {
  height: 550px;
  margin-right: 40px;
}

#artwork-page-title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 25px;
}

/* About */

#about-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  margin-top: 100px;
}

#about-container {
  display: flex;
  width: 1010px;
}

#profile-image {
  height: 310px;
  margin-right: 50px;
  box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 45px;
}

#about-title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 25px;
}

.about-description {
  margin-bottom: 10px;
  font-size: 15px;
}

/* Media Queries */

@media (max-width: 1090px) {
	#navbar-container, #artworks-container, #footer-container, #about-container, #artwork-container {
		width: 660px;
  }
  
  .artwork-page-image {
    height: 359px;
  }
}

@media (max-width: 740px) {
	#navbar-container, #artworks-container, #footer-container, #about-container, #artwork-container {
		width: 88vw;
  }

  #artwork-container {
    margin-bottom: 16.21vw;
  }

  #artworks-component, #about-component {
    margin-top: 16.21vw;
  }

  .artwork-image {
    height: 41vw;
    margin-bottom: 2.02vw;
  }

  .artwork-title {
    margin-bottom: 9.45vw;
  }

  #profile-image {
    height: 41vw;
  }

  #artwork-container {
    flex-direction: column-reverse;
  }

  .artwork-page-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  #about-container {
    flex-direction: column;
  }

  .navbar-right {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 500px) {
  .artwork-title, #about-description, .navbar-text {
    font-size: 16px;
  }

  .navbar-link {
    margin-left: 20px;
  }

  #navbar-title, #about-title, #artwork-page-title {
    font-size: 24px;
  }

  #about-title, #artwork-page-title {
    margin-bottom: 23px;
  }

  .about-description, #footer-copyright {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .artwork-title, #about-description, .navbar-text {
    font-size: 15px;
  }

  .navbar-link {
    margin-left: 15px;
  }

  #navbar-title, #about-title, #artwork-page-title {
    font-size: 22px;
  }

  #about-title, #artwork-page-title {
    margin-bottom: 21px;
  }

  .about-description, #footer-copyright {
    font-size: 13px;
  }
}

@media (max-width: 300px) {
  .artwork-title, #about-description, .navbar-text {
    font-size: 14px;
  }

  .navbar-link {
    margin-left: 10px;
  }

  #navbar-title, #about-title, #artwork-page-title {
    font-size: 20px;
  }

  #about-title, #artwork-page-title {
    margin-bottom: 19px;
  }

  .about-description, #footer-copyright {
    font-size: 12px;
  }
}

.component-when-home {
  background-color: rgb(56, 68, 76);
  border-color: rgb(56, 68, 76);
}

.text-when-home {
  color: white;
}
