* {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  color: black;
}

a {
  text-decoration: none;
}

body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* Home */

#home-component {
  display: flex;
  justify-content: center;
  background-color: rgb(56, 68, 76);
  margin-bottom: auto;
  width: 100%;
  flex: 1;
}

#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1010px;
}

/* #home-page-text {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#home-page-title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
  color: white;
  text-transform: uppercase;
  text-align: left;
}

.home-page-paragraph {
  color: white;
  margin-bottom: 7px;
  text-align: left;
}

.react-p5,
.p5Canvas {
  height: 100%;
}

/* Navbar */

.navbar-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(132, 132, 132, 0.2);
  width: 100%;
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1010px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right ul {
  display: flex;
  align-items: center;
}

.navbar-text {
  color: black;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-text:hover {
  text-decoration: underline;
  text-decoration-color: black;
  transition: 0.3s;
}

.navbar-title {
  font-weight: 500;
  font-size: 20px;
  opacity: 0.7;
}

/* PageTitle */

.page-title-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1010px;
  height: 100px;
}

.page-title {
  font-size: 17px;
  color: grey;
  text-transform: lowercase;
  text-align: center;
}

/* ProjectList */

.project-list-component {
  display: flex;
  flex-direction: column;
}

.project-list-item {
  display: flex;
  width: 1010px;
}

.project-list-item {
  margin-bottom: 100px;
}

/* ProjectGif */

.project-video {
  width: 485px;
  height: auto;
}

.project-video:hover {
  opacity: 0.7;
  transition: 0.3s;
}

/* ProjectOverview */

.project-overview-component {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.project-name {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0.7;
}

strong {
  font-weight: 500;
  opacity: 0.7;
}

.project-overview-component p {
  margin-bottom: 15px;
}

.project-anchors-container a {
  color: black;
  font-weight: 500;
  border-bottom: 1px solid white;
  opacity: 0.7;
}

.project-anchors-container a:hover {
  transition: 0.3s;
  border-bottom: 1px solid black;
}

.project-anchors-container:first-of-type a {
  margin-right: 15px;
}

/* Artworks */

#artworks-component {
  display: flex;
  justify-content: center;
}

#artworks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 1010px;
}

.artwork-title {
  margin-bottom: 70px;
  word-break: break-word;
  /* font-size: 13px; */
}

.artwork-title:hover {
  text-decoration: underline;
  text-decoration-color: black;
  transition: 0.3s;
}

.artwork-image {
  height: 310px;
  box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.artwork-image:hover {
  opacity: 0.9;
  transition: 0.3s;
}

/* Artwork */

#artwork-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

#artwork-container {
  display: flex;
  width: 1010px;
  margin-bottom: 60px;
}

#artwork-page-images {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  width: 55%;
}

.artwork-page-image {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  box-shadow: 2px -2px 10px 0 rgba(0, 0, 0, 0.2);
}

#artwork-page-title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 25px;
}

#artwork-page-info {
  margin-bottom: 10vw;
  width: 45%;
}

/* Contact */

.contact-component {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
  flex: auto;
}

.contact-container {
  display: flex;
  justify-content: center;
  width: 1010px;
  margin-bottom: 100px;
}

.profile-photo {
  display: block;
  max-width: 485px;
  max-height: 485px;
  width: auto;
  height: auto;
}

.contact-overview-container {
  margin-left: 40px;
  margin-bottom: 40px;
}

.contact-overview-container h4 {
  margin-bottom: 15px;
}

.contact-overview-container p {
  margin-bottom: 15px;
}

.email-anchor {
  border-bottom: 1px solid white;
  color: black;
}

.email-anchor:hover {
  border-bottom: 1px solid black;
  transition: 0.3s;
}

/* Footer */

.footer-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(132, 132, 132, 0.2);
  width: 100%;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1010px;
  height: 80px;
}

.footer-left {
  display: flex;
  align-items: center;
}

#instagram-logo {
  height: 20px;
  opacity: 0.8;
}

.footer-copyright {
  font-size: 15px;
}

#instagram-hyperlink {
  display: flex;
  align-items: center;
}

.icon__fallback-text {
  visibility: hidden;
  font-size: 1px;
}

/* Media Queries */

@media (max-width: 1090px) {
  #navbar-container,
  #artworks-container,
  #footer-container,
  #artwork-container,
  .page-title-container,
  .contact-container,
  .project-list-item,
  .project-video {
    width: 660px;
  }

  #artwork-page-images {
    margin-right: 40px;
  }

  .project-list-item {
    flex-direction: column-reverse;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-overview-container {
    margin-top: 40px;
    margin-left: 0;
    width: 485px;
  }

  .project-overview-component {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 740px) {
  #navbar-container,
  #artworks-container,
  #footer-container,
  #artwork-container,
  .page-title-container,
  .project-list-item,
  .project-video,
  .profile-photo,
  .contact-overview-container {
    width: 88vw;
  }

  #artwork-container {
    margin-bottom: 16.21vw;
  }

  .artwork-image {
    height: 41vw;
    margin-bottom: 2.02vw;
  }

  .artwork-title {
    width: 41vw;
  }

  .artwork-title {
    margin-bottom: 9.45vw;
  }

  #artwork-container {
    flex-direction: column-reverse;
  }

  #artwork-page-images {
    margin-right: 0;
    width: 100%;
  }

  .artwork-page-image {
    margin-bottom: 5.4vw;
  }

  #artwork-page-info {
    width: 100%;
  }

  #home-page-text {
    width: 70vw;
  }
}

@media (max-width: 500px) {
  .artwork-title,
  .navbar-text,
  .home-page-paragraph,
  #artwork-page-description {
    font-size: 15px;
  }

  .navbar-text {
    margin-left: 20px;
  }

  .navbar-title {
    font-size: 19px;
  }

  .page-title,
  .project-name,
  #artwork-page-title,
  #home-page-title {
    font-size: 16px;
  }

  #navbar-container,
  #footer-container {
    height: 75px;
  }

  #artwork-page-title {
    margin-bottom: 23px;
  }
}

@media (max-width: 400px) {
  .artwork-title,
  .navbar-text,
  .home-page-paragraph,
  #artwork-page-description,
  .project-overview,
  .project-overview-component p,
  .project-overview-component p strong,
  .project-anchors-container a,
  #footer-copyright,
  .contact-overview-container p,
  .contact-overview-container a {
    font-size: 13px;
  }

  .navbar-text {
    margin-left: 15px;
  }

  .navbar-title {
    font-size: 18px;
  }

  .page-title,
  .project-name,
  #artwork-page-title,
  #home-page-title {
    font-size: 15px;
  }

  #navbar-container,
  #footer-container {
    height: 70px;
  }

  #artwork-page-title {
    margin-bottom: 21px;
  }
}

@media (max-width: 300px) {
  .artwork-title,
  .navbar-text,
  .home-page-paragraph,
  #artwork-page-description,
  .project-overview-component p,
  .project-overview-component p strong,
  .project-anchors-container a,
  #footer-copyright,
  .contact-overview-container p,
  .contact-overview-container a {
    font-size: 11px;
  }

  .navbar-text {
    margin-left: 10px;
  }

  .navbar-title {
    font-size: 17px;
  }

  .page-title,
  .project-name,
  #artwork-page-title,
  #home-page-title {
    font-size: 14px;
  }

  #navbar-container,
  #footer-container {
    height: 65px;
  }

  #artwork-page-title {
    margin-bottom: 19px;
  }
}

.is-home {
  color: white;
  fill: white;
  opacity: 1;
}

.is-home-component {
  background-color: rgb(56, 68, 76);
  border-color: rgb(56, 68, 76);
  opacity: 1;
}

.is-home:hover {
  text-decoration-color: white;
  transition: 0.3s;
}

.is-home-description {
  color: white;
  opacity: 0.6;
}
